<!DOCTYPE html>
<html lang="ru" prefix="og: http://ogp.me/ns#">
<head>
    {{> head }}
</head>
<body>

    {{> header }}

    {{> body }}

    {{> footer }}

    <script src="assets/js/app.js"></script>
    {{{ page-script }}}
</body>
</html>
